.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: $light;
    top: 0;
    z-index: 3;
    left: -250px;
    transition: .4s all ease-in-out;
    .dismiss {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 15px;
        top: 15px;
        padding: 8px;
        cursor: pointer;
        border-radius: 8px;
        transition: .4s all ease-in;
    }
    .dismiss:hover {
        background: $grey;
    }
    .menu {
        margin: 16px 25px 18px 25px;
        font-size: 32px;
    }
    li:hover {
        background-color: $grey;
    }
    .sidebar-list-links {
        width: 100%;
        border: 1px solid $darker;
        border-left: 0;
        border-right: 0;
        padding: 6px 0;
        height: 165px;
        transition: all .4s;
        .sidebar-links {
            padding: 12px 20px;
            cursor: pointer;
            font-size: 18px;
            a {                
                display: inline-block;
                width: 100%;
            }
            i {
                text-align: right;
            }
            &:nth-child(3) {
                display: flex;
                justify-content: space-between;
                i {
                    margin-top: 6px;
                }
            }
        }        
        .media-links {
            position: relative;
            padding: 4px 0 4px 26px;
            cursor: pointer;
            font-size: 16px;
            z-index: 1;
            a {
                display: inline-block;
                width: 100%;
            }
        }
    }
    .sidebar-list-icons {
        position: relative;
        width: 100%;
        height: 256px;
        list-style-type: none;
        z-index: 2;
        @include basicFlex(space-around);
        align-items: flex-start;
        padding-top: 16px;
        background-color: $light;
        .sidebar-icon {
            width: 52px;
        }
    }
}

@media screen and (min-width: 2560px) {
    .sidebar {
        width: 350px;
        left: -350px;
        .dismiss {
            width: 36px;
            height: 36px;
        }
        .menu {
            font-size: 40px;
        }
        .sidebar-list-links {
            height: 194px;
            border: 2px solid $darker;
            border-left: 0;
            border-right: 0;
            .sidebar-links {
                font-size: 24px;
            }
            .media-links {
                font-size: 22px;
            }
        }
        .sidebar-list-icons {
            .sidebar-icon {
                width: 64px;
            }
        }
    }
}